<?xml version="1.0" encoding="UTF-8"?>
<ext-config>
		<textField type="hidden" id="name" show="true"/>
		<textField type="hidden" id="note" show="true"/>
		<textField type="hidden" id="id" show="true"/>
		<textField type="hidden" id="pid" show="true"/>
		<textField type="hidden" id="order" show="true"/>
		<textField type="hidden" id="url" show="true"/>
		<textField type="hidden" id="avatar" show="true"/>
		<box title="菜单管理">
		<include page="/pages/frame/Menu.jsp"></include>
		</box>
	
</ext-config>
