<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruisitech.bi.mapper.model.CubeColMetaMapper">
    
    <resultMap id="BaseResultMap" type="com.ruisitech.bi.entity.model.CubeColMeta">
		<id column="rid" property="rid"/>
		<result column="cube_id" property="cubeId"/>
		<result column="col_type" property="colType"/>
		<result column="col_id" property="colId"/>
		<result column="tname" property="tname"/>
		<result column="col_name" property="col"/>
		<result column="alias" property="alias"/>
		<result column="ord" property="ord"/>
		<result column="calc" property="calc"/>
    </resultMap>
 
   
   <select id="getMaxRid" resultType="java.lang.Integer">
   		select case WHEN max(rid) is null then 1 else  max(rid) + 1 end "id" from olap_cube_col_meta
   </select>
   
   <insert id="insertMeta" parameterType="com.ruisitech.bi.entity.model.CubeColMeta">
   		insert into olap_cube_col_meta(cube_id, col_type, col_id, tname, col_name, alias, calc, ord)
   		values(#{cubeId}, #{colType}, #{colId}, #{tname}, #{col}, #{alias}, #{calc}, #{ord})
   </insert>
   
   <delete id="deleteKpiMeta" parameterType="java.lang.Integer">
   		delete from olap_cube_col_meta where cube_id = #{cubeId} and col_type = 2
   </delete>
   
   <delete id="deleteDimMeta" parameterType="java.lang.Integer">
   		delete from olap_cube_col_meta where cube_id = #{cubeId} and col_type = 1
   </delete>
   
     <delete id="deleteByCubeId" parameterType="java.lang.Integer">
   		delete from olap_cube_col_meta where cube_id = #{cubeId}
   </delete>
   

</mapper>
