<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruisitech.bi.mapper.portal.PortalMapper">
    <resultMap id="BaseResultMap" type="com.ruisitech.bi.entity.portal.Portal">
		<id column="pageid" property="pageId"/>
		<result column="user_id" property="userId"/>
		<result column="login_name" property="userName"/>
		<result column="pageinfo" property="pageInfo"/>
		<result column="pagename" property="pageName"/>
		<result column="is3g" property="is3g"/>
		<result column="cataId" property="cataId"/>
		<result column="cataName" property="cataName"/>
		<result column="crtdate" property="crtDate"/>
		<result column="updatedate" property="updateDate"/>
    </resultMap>
	
	<select id="listPortal" resultMap="BaseResultMap">
		select pageid, pagename , crtdate , updatedate  from portal_user_save 
		where is3g = 'n'
		order by crtdate desc
	</select>
	
	<select id="listAppReport" resultType="java.util.HashMap">
		select pageid "rid", pagename "title", a.crtdate "dt", b.name "cataName", c.login_name "uname", 
		case when d.report_id is null then 0 else 1 end as "iscollect" 
		from portal_user_save a join portal_3greport_type b on a.cata_id = b.id join sc_login_user c on a.user_id = c.user_id
	    left join (select * from report_collect where user_id = #{userId}) d on a.pageid = d.report_id      
		where is3g = 'y'    
			<if test="cataId != null"> 
			  and  a.cata_id = #{cataId}
			</if>
		order by a.crtdate desc  
	</select>
	
	<select id="getPortal" resultMap="BaseResultMap" parameterType="java.lang.String">
		select pageid, pagename, crtdate, updatedate from portal_user_save 
		where pageId = #{pageId}
	</select>
	
	<select id="getPortalCfg" resultType="java.lang.String" parameterType="java.lang.String">
		select pageInfo "pi" from portal_user_save where pageId = #{pageId}
	</select>
	
	<select id="list3g" resultMap="BaseResultMap" parameterType="java.lang.Integer">
	select pageid, pagename, a.crtdate, a.updatedate, b.name "cataName", c.login_name
		from portal_user_save a, portal_3greport_type b, sc_login_user c    
		where is3g = 'y'  and a.cata_id = b.id and a.user_id = c.user_id    
			<if  test=" cataId != null "> 
			  and a.cata_id = #{cataId}
			</if>
		order by a.crtdate desc  
	</select>
	
	<insert id="insertPortal" parameterType="com.ruisitech.bi.entity.portal.Portal">
		insert into portal_user_save(user_id, pageinfo, pageId, pagename, updatedate, crtdate, cata_id, is3g) 
		values(#{userId}, #{pageInfo}, #{pageId}, #{pageName},
		<if test="dbName == 'mysql'">
			now(),now(),
		</if>
		<if test="dbName == 'sqlite'">
			strftime('%s','now') * 1000,strftime('%s','now') * 1000,
		</if>
		 #{cataId}, #{is3g})
	</insert>
	
	<update id="updatePortal" parameterType="com.ruisitech.bi.entity.portal.Portal">
		update portal_user_save set pageinfo = #{pageInfo}, updatedate =
		<if test="dbName == 'mysql'">
			now()
		</if>
		<if test="dbName == 'sqlite'">
			strftime('%s','now') * 1000
		</if>
		where pageId = #{pageId}
	</update>
	
	<update id="renamePortal" parameterType="com.ruisitech.bi.entity.portal.Portal">
		update portal_user_save set pagename = #{pageName}, updatedate =
		<if test="dbName == 'mysql'">
			now()
		</if>
		<if test="dbName == 'sqlite'">
			strftime('%s','now') * 1000
		</if>
		where pageId = #{pageId}
	</update>
	
	<delete id="deletePortal" parameterType="java.lang.String">
		delete from portal_user_save where pageId = #{pageId}
	</delete>
</mapper>
